// *** VARIABLES ***

// * Background *
// Photo by Pawel Czerwinski on Unsplash
$lavaTall: url(../img/lava_pawel-czerwinski-unsplash_tall.jpg);
$lavaWide: url(../img/lava_pawel-czerwinski-unsplash_wide.jpg);
$gradientOpacity: 0.8;
$gradientDay: linear-gradient(
  135deg,
  rgba(177, 167, 253, 0.8) 30%,
  rgba(255, 132, 132, 0.8)
);
$gradientNight: linear-gradient(
  135deg,
  rgba(22, 0, 57, 0.9) 30%,
  rgba(62, 0, 0, 0.9)
);

// * Terminal *
$terminalBackground: #ffffff11;
$terminalBar: #22225544;
$terminalTitle: #000000aa;
$terminalText: #000;
$terminalLinkHover: #fff;

// * Nightmode *
// $primaryNightmodeColor: #75ffb3;
// $primaryNightmodeColor: #ffc23e;
$primaryNightmodeColor: #75fffd;
$nightmodeCursor: $primaryNightmodeColor;
$nightmodeTerminalLinkHover: $primaryNightmodeColor;
$nightmodeInitials: rgba($primaryNightmodeColor, 0.5);

$nightmodeBtnDay: #6f2ccd;
$nightmodeBtnNight: #ffdb49;

// *** MIXINS ***

// * Transitions *
@mixin linkFade {
  transition: color 200ms ease;
}

@mixin nightmodeFade {
  transition: background 1000ms ease;
}

@mixin terminalCollapse {
  // transition: height 1500ms ease;
  transition: all 1500ms ease;
}

// * Device Media Queries *

// Media Query Mixins
@mixin mediaMd {
  @media screen and (min-width: 560px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
