.terminal {
  background-color: $terminalBackground;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  font-family: "Source Code Pro", monospace;
  font-size: 1.8rem;
  padding: 1.5rem;
  padding-top: 2rem;
  margin: 1rem 0;
  position: relative;
  height: 26rem;
  @include nightmodeFade;
  @include terminalCollapse;
}

.terminal__bar {
  background-color: $terminalBar;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  height: 1.3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include nightmodeFade;
}

.terminal__circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;

  &.terminal__circle--red {
    background-color: #fc645f;
    left: 0.5rem;
    cursor: pointer;
  }
  &.terminal__circle--yellow {
    background-color: #fdbc40;
    left: 1.7rem;
  }
  &.terminal__circle--green {
    background-color: #34c749;
    left: 2.9rem;
  }
}

.terminal__title {
  color: $terminalTitle;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.1rem;
  cursor: default;
}

.terminal__line {
  color: $terminalText;
  cursor: default;
}

.terminal__text {
  overflow: hidden;
  margin-top: 0.5rem;
  letter-spacing: 0.2rem;
}

.terminal p {
  margin-bottom: 0.5rem;
}

.terminal__link {
  cursor: pointer;
  text-align: center;
  @include linkFade;

  &:hover {
    text-shadow: 0 0 20px rgba($terminalLinkHover, 0.5);
    color: $terminalLinkHover;
  }
}

// **** HELPER CLASSES ****
.cursor-focus {
  color: #fff;

  &::after {
    content: "_";
  }
}

.cursor-blink {
  &::after {
    content: "_";
    animation: blink 1.5s infinite;
  }
}

@keyframes blink {
  50% {
    content: "";
  }
}

.select-flash {
  animation: selectFlash 0.3s ease-in-out;
}

@keyframes selectFlash {
  50% {
    color: #000;
  }
}

// *** COLLAPSED TERMINAL ***
.terminalCollapse {
  padding-top: 1.1rem;
  padding-bottom: 0.5rem;
  @include terminalCollapse;

  &:hover,
  &:hover * {
    cursor: pointer;
  }
}
