@import "config";
@import "terminal";

// **** GENERAL ****
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Source Code Pro", monospace;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

// **** BACKGROUND IMAGE & GRADIENT ****
.bg-img {
  // Photo by Pawel Czerwinski on Unsplash
  background-image: linear-gradient(
      135deg,
      rgba(177, 167, 253, $gradientOpacity) 30%,
      rgba(255, 132, 132, $gradientOpacity)
    ),
    url(../img/lava_pawel-czerwinski-unsplash_xs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  @include nightmodeFade;

  padding: 2rem 1rem;
  min-height: 100vh;
}

// **** HEADER & NAV ****

.header {
  margin-bottom: 2rem;
}

.nav {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  // border: 1px solid blue;
  @include terminalCollapse;
}
.navCollapse {
  height: 10vh;
  @include terminalCollapse;
}

// **** MAIN & SECTIONS ****

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

// *** CARD ***
.card {
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  font-family: "Source Code Pro", monospace;
}

.card__header {
  color: #fff;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1.5rem;
  cursor: default;
}

.card__img {
  background-position: center;
}

#homeCard .card__img {
  // Photo by Ales Nesetril on Unsplash
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1607&q=80");
  background-size: 200%;
  // background-color: rgba(255, 255, 255, 0.269);
  background-color: rgba(82, 0, 82, 0.26);
  background-blend-mode: darken;
}

.card__title {
  font-family: "Megrim", cursive;
  font-size: 4rem;
  font-weight: 400;
  // text-align: right;
  letter-spacing: 0.7rem;
  line-height: 0.9;
  margin: 0 0 1rem;
}

.card__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 1rem;
  // text-align: right;
}

.card__content {
  padding: 1.5rem;
}

.card__body {
  font-size: 1.3rem;
}

// **** FOOTER ****
footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.initials {
  color: rgba(0, 0, 0, 0.2);
  font-family: "Megrim", cursive;
  font-size: 7vh;
  font-weight: 400;
  letter-spacing: 0.6rem;
  cursor: default;
  transition: opacity 7000ms ease;
}

#terminalInitials {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}

// **** HELPER CLASSES ****
.display-none {
  display: none;
  & * {
    display: none;
  }
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}

.opacity-zero {
  opacity: 0;
  transition: opacity 300ms ease;
}

// **** NIGHTMODE IMPORT ****
@import "nightmode";
